.header-container {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  padding: 3px 2% 0 3px;
}
.header-logo {
  margin: 0 0 0 12px;
}

.small-logo {
  width: 65px;
  height: 61px;
}

.header-items {
  width: 376px;

  display: flex;
  justify-content: space-evenly;
  margin-left: 20%;
  align-items: center;

  font-family: "Mina", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 32px;
}
.header-items-link {
  color: inherit;
  text-decoration: inherit;
}
.header-authentication {
  display: flex;
  justify-content: space-evenly;
}
.signin-button {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: white
}
.sign-up-button {
  background-color: #2288FF !important;
  border: none;
  color: white
}
