
.photo {
    display: flex;
    justify-content: center;
}

.text-content {
    font-family: 'Mina', sans-serif;
    font-style: normal;
    font-weight:lighter;
    font-size: 15px;
    line-height: 10px;
    padding: 10px 0 0 0;
}

.text-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    line-height: 25px;
    padding: 60px 0 0 0;  
    
}

.join-sce {
    border: 3px solid #4690FF; 
    background-color: transparent;
    color: #4690FF;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 50px;
}

